/* 

 ---------------------------------------------------------------------------
 Text alignment
 ---------------------------------------------------------------------------

 Loop through the breakpoints map and create an alignmnet for each.
 
 Example: .text-right-sm, .text-center-md, .text-left-lg

 ---------------------------------------------------------------------------  
	
*/

// Loop through the breakpoints map and create an alignmnet for each
@each $name, $value in $mq-breakpoints {

	@include mq($name){

		.text-left-#{$name} {
			text-align: left;
		}
		.text-center-#{$name} {
			text-align: center;
		}
		.text-right-#{$name} {
			text-align: right;
		}		

	}

}

.vertically-center-columns {
	@include mq($from: sm){
		@include table-center();
	}
}
