/* 

 ---------------------------------------------------------------------------
 Strokes
 ---------------------------------------------------------------------------

 

 ---------------------------------------------------------------------------	
  
*/

@each $color, $i in $colors {
	.border-#{$color} {
		border: 1px solid $i;
	}

	.border-dashed-#{$color} {
		border: 1px dashed $i;
	}

	.border-dotted-#{$color} {
		border: 1px dotted $i;
	}
}
