/* 
 ---------------------------------------------------------------------------
 Borders
 ---------------------------------------------------------------------------

 

 ---------------------------------------------------------------------------	
*/

@each $name, $value in $colors {
	.border-#{$name} {
		border: 1px solid $value;
	}

	.border-dashed-#{$name} {
		border: 1px dashed $value;
	}

	.border-dotted-#{$name} {
		border: 1px dotted $value;
	}
}
