/* 

 ---------------------------------------------------------------------------
 Colors
 ---------------------------------------------------------------------------

 

 ---------------------------------------------------------------------------	
  
*/

@each $color, $i in $colors {
	.color-#{$color} {
		color: $i;
	}
}
