/* 

 ---------------------------------------------------------------------------
 Dimensions
 ---------------------------------------------------------------------------

*/

.stretch {
	width: 100%;
}

.image-responsive {
	width: 100%;
	max-width: 100%;
}
