/* 
 ---------------------------------------------------------------------------
 Spacing
 ---------------------------------------------------------------------------

 

 ---------------------------------------------------------------------------	
*/


// -----------------------------------------------------------------------------
// Padding
// -----------------------------------------------------------------------------

$multiplier-tablet: 1.3333333333333;
$multiplier-desktop: 2;
$multiplier-wide: 2.66666666666666;

.pad {
	@include make-padding($padding-base, 1);
	@include mq(sm){
		@include make-padding($padding-base, $multiplier-tablet);
	}
	@include mq(md){
		@include make-padding($padding-base, $multiplier-desktop);
	}
	@include mq(lg){
		@include make-padding($padding-base, $multiplier-wide);
	}
}

.padding-none {
	padding: 0;
}

// -----------------------------------------------------------------------------
// Margins
// -----------------------------------------------------------------------------

.tall {
	margin-top: $margin-base * 2;
	margin-bottom: $margin-base * 2;
}

.short {
	margin-top: $margin-base / 2;
	margin-bottom: $margin-base / 2;
}

.flush {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.flush-top {
	margin-top: 0 !important;
}

.flush-bottom {
	margin-bottom: 0 !important;
}
