/* 

 ---------------------------------------------------------------------------
 Spacing
 ---------------------------------------------------------------------------

*/

$base-padding: 30px;
$multiplier-tablet: 1.33333333333;
$multiplier-desktop: 2;
$multiplier-wide: 2.66666666666;

.pad {

	@include make-padding($base-padding, 1)

	@include mq(sm){
		@include make-padding($base-padding, $multiplier-tablet);
	}

	@include mq(md){
		@include make-padding($base-padding, $multiplier-desktop);
	}

	@include mq(lg){
		@include make-padding($base-padding, $multiplier-wide);
	}
}




















.padding-none {
	padding: 0;
}

.flush-top {
	margin-top: 0 !important;
}

.flush-bottom {
	margin-bottom: 0 !important;
}

@for $value from 1 through 6 {
	.pad-#{$value} {
		padding-top: ($value*15) + px;
		padding-bottom: ($value*15) + px;
	}
}
