/* 

 ---------------------------------------------------------------------------
 Underline
 ---------------------------------------------------------------------------

 

 ---------------------------------------------------------------------------	
  
*/

@each $color, $i in $colors {
	.underline-#{$color} {
		border-bottom: $i 5px solid;
	}
}
