/* 
 ---------------------------------------------------------------------------
 Icon font
 ---------------------------------------------------------------------------

 - Allows the use of dynamic, scalable icons (color, font-size)
 - fontastic.me is used to manage icon sets
 - The icon font scaffolding only needs to be updated if font name changes

 ---------------------------------------------------------------------------	
*/
